# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/*

# Diretórios de build
dist/
build/

# Arquivos de ambiente
.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de saída do Tailwind CSS
public/output.css

# Outros
.idea/
.vscode/
*.swp
